# pinned to latest known working version
# may (likely) works with older versions as well
dwave-ocean-sdk==6.8.0
osmnx==1.9.1
matplotlib==3.7.5
folium==0.15.1
scipy==1.10.1
dash[diskcache]==2.15.0
python-tsp==0.4.0
